In [5]:
import pandas as pd
import numpy as np  


df = pd.read_csv('datasets/source_crm/cust_info.csv') 

df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18494 entries, 0 to 18493
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cst_id              18490 non-null  float64
 1   cst_key             18494 non-null  object
 2   cst_firstname       18486 non-null  object
 3   cst_lastname        18487 non-null  object
 4   cst_marital_status  18487 non-null  object
 5   cst_gndr            13916 non-null  object
 6   cst_create_date     18490 non-null  object
dtypes: float64(1), object(6)
memory usage: 1011.5+ KB

,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,11000.0,AW00011000,Jon,Yang,M,M,2025-10-06
1,11001.0,AW00011001,Eugene,Huang,S,M,2025-10-06
2,11002.0,AW00011002,Ruben,Torres,M,M,2025-10-06
3,11003.0,AW00011003,Christy,Zhu,S,F,2025-10-06
4,11004.0,AW00011004,Elizabeth,Johnson,S,F,2025-10-06